/* Reset */
*{  
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
  
}

html { background-color: rgb(245, 169, 200); }
body { font-family:"Poppins", sans-serif; height:100vh; }

h2 {

  text-align: left;
  font-size: 16px;
  margin-bottom: 10px;
  color: #0d0d0d;
  border-bottom: 1px solid #f6f6f6;
  padding: 15px 15px;
  width: 100%;
  float: left;

}

.wrapper {
  
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;

}

.content-login {

  -webkit-border-radius: 4px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 95%;
  max-width: 320px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;

}

.box-login { 
  
  width: 100%;
  float: left;
  padding: 10px;
 
}

.box-lembrar-senha {

  
  width:100%;
  float:left;
  background-color: #ffffff;
  border-top: 1px solid #ffffff;
  padding: 25px;
  text-align: right;
  -webkit-border-radius: 60px 60px;
  border-radius: 0 0 10px 10px;
  font-size: 13px;

  ;
}
.cadastro{
width:10%;
  float:left;
  background-color: #ffffff;
  border-top: 1px solid #ffffff;
  padding: 20px;
  text-align: right;
  -webkit-border-radius: 60px 60px;
  border-radius: 0 0 10px 10px;
  font-size: 13px;

}
.botao {
  
  width:100%;
  display: block;
  float:left;
  background-color: #ee74a3;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 15px 80px;
  text-align: center;
  font-size:18px;
  -webkit-border-radius:4px;
  border-radius:4px;
  transition: 0.3s;


}

.botao:hover  { background-color: #e65aa7; }

.campo {
  
  background-color: #f6f6f6;
  border: none;
  outline: none;
  color: #0d0d0d;
  padding: 10px 5px;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 10px;
  width: 100%;
  border: 2px solid #f6f6f6;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  float: left;
  transition: 0.3s;

}

.campo:focus {
 
  background-color: #fff;
  color:#a12587;

}

.campo:placeholder {

  color: #fffbfb;

}

.link {
    
  color: #000000;
  display:inline-block;
  text-decoration: none;
  transition: 0.3s;

}

.link:hover { color:#e7e3e3; }

/* Animação */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
  -webkit-animation-name: fadeInDown;
155
  animation-name: fadeInDown;
156
  -webkit-animation-duration: 1s;
157
  animation-duration: 1s;
158
  -webkit-animation-fill-mode: both;
159
  animation-fill-mode: both;
160
}
161
​
162
@-webkit-keyframes fadeInDown {
163
  0% {
164
    opacity: 0;
165
    -webkit-transform: translate3d(0, -100%, 0);
166
    transform: translate3d(0, -100%, 0);
167
  }
168
  100% {
169
    opacity: 1;
170
    -webkit-transform: none;
171
    transform: none;
172
  }
173
}
174
​
175
@keyframes fadeInDown {
176
  0% {
177
    opacity: 0;
178
    -webkit-transform: translate3d(0, -100%, 0);
179
    transform: translate3d(0, -100%, 0);
180
  }
181
  100% {
182
    opacity: 1;
183
    -webkit-transform: none;
184
    transform: none;
185
  }
186
}
187
​
188
/* Animação Fade-in*/
189
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
190
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
191
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
192
​
193
.fadeIn {
194
​
195
  opacity:0;
196
  -webkit-animation:fadeIn ease-in 1;
197
  -moz-animation:fadeIn ease-in 1;
198
  animation:fadeIn ease-in 1;
199
​
200
  -webkit-animation-fill-mode:forwards;
201
  -moz-animation-fill-mode:forwards;
202
  animation-fill-mode:forwards;
203
​
204
  -webkit-animation-duration:2s;
205
  -moz-animation-duration:2s;
206
  animation-duration:2s;
207
​
208
}
209

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Animação Fade-in*/
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {

  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  animation-duration:2s;

}



.container {
       height: 100%;
   }

   div.op1 {
       width: 38%;
       display: inline-block;
       background-color: rgb(255, 255, 255);
       font-size: 15px;
       text-align: left;
       height: 70px;
       
   }

   div.op2 {
        width: 50%;
       display: inline-flex;
       background-color: rgb(255, 255, 255);
       font-size: 15px;
       text-align:left;
       height: 70px;
margin-top: 30px;
   }
