
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Estilo do logo */
.logo img {
  width: 160px;
  height: auto;

  
}

/* Estilo da barra de pesquisa */
.search input[type="text"] {
  margin-top: 10px;
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.search button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: rgb(41, 41, 41);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Estilos do cabeçalho */
header {
  background-color: #fff;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 40px;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  position: relative;
}

nav ul li a:hover {
  color: #ff9999;
}

nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(0, 0, 0);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

nav ul li a:hover::after {
  transform: scaleX(1);
}
#map {
  height: 170px;
  width: 100%;
  
}

h1.small {
  font-size: 19px; /* Tamanho diminuído */
}

.all-img {

  display: flex;
  justify-content: space-between;
}

.card {
  flex: 1;
  margin-right: 20px;
}

.card img {
  width: 100%;
  height: auto;
}


.menu-icon {
  font-size: 15px;
  color: #555;
  cursor: pointer;
  margin-left: 10px;
  background-color: #ffffff;
}
.logo {
  display: flex;
  align-items: center;
}

.aaa {
  margin-left: 10px; /* ou o valor desejado para separação entre a imagem e o ícone */
}

